<div class="main-container">
  <div class="two-way-binding">
    <button type="button" (click)="decrement()">-</button>
    <button type="button" (click)="increment()">+</button>
    <input type="number" [(ngModel)]="num" />
    <div>
      <p>
        Click the + or the - button to increase or decrease the number <span style="color:aqua;">{{ num }}</span>
      </p>
    </div>
  </div>
  <div class="projection-container">
    <app-projection>
      <h3>Hi I'm content that is added in with projection using ng-content!</h3>
    </app-projection>
  </div>
  <div class="pipe-container">
    <div>
      <p>
        This sentense will be transformed with a pipe! Type a sentense and see
        the results with every word starts with a capital letter
      </p>
    </div>
    <form>
      <label for="sentense">Type a Sentence</label>
      <input type="text" name="sentense" [(ngModel)]="sentense" />
    </form>
    <div>
      <p>{{ sentense | uppercase }}</p>
    </div>
  </div>
  <div>
    <input type="number" [(ngModel)]="first" /><button (click)="handleFirst()">First</button>
    <input type="number" [(ngModel)]="second" /><button (click)="handleSecond()">Second</button>
    {{$mergeAll | async}}
  </div>
</div>
